# ZeroTier controller build version
ZEROTIER_VERSION=1.16.0

# ztncui ports
ZTNCUI_HTTP_PORT=3000
ZTNCUI_HTTPS_PORT=3443

# Bind HTTP on all interfaces if true (empty = localhost only)
ZTNCUI_HTTP_ALL_INTERFACES=true

# Hostname used for HTTPS links in UI (optional)
ZTNCUI_HTTPS_HOST=

# Admin password for ztncui (plaintext)
ZTNCUI_PASSWD=change-me
