# SPDX-FileCopyrightText: 2025 AlterMundi
#
# SPDX-License-Identifier: GPL-3.0-only

# ZeroTier controller build version
ZEROTIER_VERSION=1.16.0

# ztncui ports (default Grafana uses 3000, so we use 3180/3443)
ZTNCUI_HTTP_PORT=3180
ZTNCUI_HTTPS_PORT=3443

# Bind HTTP on all interfaces if true (empty = localhost only)
ZTNCUI_HTTP_ALL_INTERFACES=true

# Hostname used for HTTPS links in UI (optional)
ZTNCUI_HTTPS_HOST=

# Admin password for ztncui (required, plaintext)
ZTNCUI_PASSWD=
