# ZeroTier network ID (16 hex chars)
ZT_NETWORK_ID=

# Optional: override authtoken for zerotier-cli
ZEROTIER_API_SECRET=

# Optional: pre-generated identity
ZEROTIER_IDENTITY_PUBLIC=
ZEROTIER_IDENTITY_SECRET=
